---
import Layout from '../layouts/Layout.astro';
import GlassmorphicNav from '../components/GlassmorphicNav.astro';
---
<Layout>
  <GlassmorphicNav />
  <main style="height:120vh"></main>
</Layout>

