---
import Layout from '../layouts/Layout.astro';
import GlassmorphicNav from '../components/NavBar/GlassmorphicNav.astro';
import BrandHero from '../components/Hero/BrandHero.astro';
---

<Layout>
  <GlassmorphicNav />
  <main style="height:240vh; position: relative;">
    <BrandHero />
  </main>
</Layout>
