---
export interface Props {
  title: string;
  description?: string;
}

const { title, description = "Empowering personal growth through natural strategies." } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="description" content={description} />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  <meta name="generator" content={Astro.generator} />
  <title>{title}</title>
  
  <!-- Preconnect to Google Fonts -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <!-- Import Poppins Font -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
</head>
<body>
  <slot />
  
  <style is:global>
    html {
      font-family: 'Poppins', sans-serif;
    }
    
    body {
      min-height: 100vh;
      margin: 0;
      background-color: var(--background-cream);
    }
  </style>
</body>
</html>
